<div class="container">
  <div class="col-sm-8 offset-sm-2">
    <h1>Stupid Coaching</h1>
    <form action="/answer" method="get">
      <label for="questionInput">Ask your coach anything:</label>
      <div class="form-group d-flex mt-3 align-items-center">
        <input type="text" class="form-control" id="questionInput" name="question">
        <input type="submit" value="Ask me" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>